# 예측데이터 불러오기

In [13]:
import numpy as np
import pandas as pd

In [32]:
# 데이터 불러오기
future_data1 = pd.read_csv("ML_Data/future_data1.csv")
future_data2 = pd.read_csv("ML_Data/future_data2.csv")
future_data3 = pd.read_csv("ML_Data/future_data3.csv")
real_predict = pd.read_csv("ML_Data/real_predict.csv")

# 예측비교

In [33]:
future_data1 = future_data1.drop(columns=['관외 이동량', '검색건수', '숙박업소 개수'])
future_data1 = future_data1.rename(columns={'예측 방문자수': '모델1 예측 방문자수'})
future_data2 = future_data2.drop(columns=['관외 이동량', '검색건수', '숙박업소 개수'])
future_data2 = future_data2.rename(columns={'예측 방문자수': '모델2 예측 방문자수'})
future_data3 = future_data3.drop(columns=['관외 이동량', '검색건수', '숙박업소 개수'])
future_data3 = future_data3.rename(columns={'예측 방문자수': '모델3 예측 방문자수'})
real_predict = real_predict.rename(columns={'방문자 수': '2024 실제 방문자수'})

In [34]:
merged_data = pd.merge(future_data1, future_data2, on=['지역명', '일시'], how='inner')
merged_data = pd.merge(merged_data, future_data3, on=['지역명', '일시'], how='inner')
merged_data = pd.merge(merged_data, real_predict, on=['지역명', '일시'], how='inner')

In [35]:
merged_data.head()

   일시          지역명  모델1 예측 방문자수  모델2 예측 방문자수  모델3 예측 방문자수  2024 실제 방문자수
0   1  강원특별자치도 춘천시    8613501.0    8944691.0    9052757.0       9024519
1   1  강원특별자치도 원주시    9939502.0    9427674.0    9462811.0       9956163
2   1  강원특별자치도 강릉시    8068274.0    8160717.5    8127627.5       8218107
3   1  강원특별자치도 동해시    1958529.2    2049472.8    2236159.0       2874821
4   1  강원특별자치도 태백시    1338308.8    1275827.9    1279462.9       1546059

학습모델1의 예측비교

In [42]:
merged_data['모델1 예측 방문자 수 - 2024 실제 방문자 수'] = merged_data['모델1 예측 방문자수']-merged_data['2024 실제 방문자수']

학습모델2의 예측비교

In [43]:
merged_data['모델2 예측 방문자 수 - 2024 실제 방문자 수'] = merged_data['모델2 예측 방문자수']-merged_data['2024 실제 방문자수']

학습모델 3의 예측비교

In [44]:
merged_data['모델3 예측 방문자 수 - 2024 실제 방문자 수'] = merged_data['모델3 예측 방문자수']-merged_data['2024 실제 방문자수']

In [47]:
merged_data.head()

,일시,지역명,모델1 예측 방문자수,모델2 예측 방문자수,모델3 예측 방문자수,2024 실제 방문자수,모델1 예측 방문자 수 - 2024 실제 방문자 수,모델2 예측 방문자 수 - 2024 실제 방문자 수,모델3 예측 방문자 수 - 2024 실제 방문자 수
0,1,강원특별자치도 춘천시,8613501.0,8944691.0,9052757.0,9024519,-411018.0,-79828.0,28238.0
1,1,강원특별자치도 원주시,9939502.0,9427674.0,9462811.0,9956163,-16661.0,-528489.0,-493352.0
2,1,강원특별자치도 강릉시,8068274.0,8160717.5,8127627.5,8218107,-149833.0,-57389.5,-90479.5
3,1,강원특별자치도 동해시,1958529.2,2049472.8,2236159.0,2874821,-916291.8,-825348.2,-638662.0
4,1,강원특별자치도 태백시,1338308.8,1275827.9,1279462.9,1546059,-207750.2,-270231.1,-266596.1

In [48]:
# CSV 파일로 저장
merged_data.to_csv('real_predict.csv', index=False)